@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amatic+SC&family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,550;1,300&display=swap');

html,
body {
  background-image: url('rose.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  background-color: rgb(52, 52, 52);
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: visible;
  overflow-x: hidden;
  bottom: 0;
}

header {
  color: gold;
  background-color: rgba(94, 35, 3, 0.721);
  position: absolute;
  width: 100%;
  box-shadow: 15px 5px 35px 5px black;
  justify-content: center;
  text-align: center;
}

:global #root { 
    width: 100%;
    height: 100%;
    display: flex;
    bottom: 0;
}