@import url('https://fonts.googleapis.com/css2?family=Alice&family=Amatic+SC&family=Cinzel+Decorative:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(69, 69, 69);
}

body {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    background-image: url('rose.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 80%;
    text-align: center;
}
