.contacts {
      background-color: rgba(0, 0, 255, 0.358);
      display: flex;
      font-size: 30px;
      flex-direction: column;
      margin: 30px;
      text-align: center;
      border-radius: 50px 50px;
      padding: 20px;
      font-family: 'Cormorant Garamond';
}

.li-link, .gh-link {
      padding: 20px;
      margin: 20px;
      text-align: center;
      background-color: rgba(0, 0, 255, 0.288);
      font-family: 'Cormorant Garamond';
}

.github, .linkedin {
      background-color: rgba(255, 192, 203, 0.527);
      text-align: center;
      padding: 20px;
      margin: 20px;
      width: min-content;
      align-self: center;
      border-radius: 30px;
}

Contact {
      display: flex;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      text-align: center;
}
