.plink, .project-sites {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    color: rgb(242, 226, 102);
    margin-bottom: 100px;
      font-family: Alice;

}

.plink:hover {
    box-shadow: 5px 5px 15px rgb(65, 10, 10);
}

.modal_content {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
      font-family: Alice;

}

.project-name {
    margin: 3vmin;
    margin-top: 5vmin;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: silver;
    font-size: 30px;
    font-family: Alice;

}

.vibn-name {
    color: magenta;
    font-size: 30px;
    text-shadow: 1px 1px 5px teal;
}

.torr-name {
    color: red;
    font-size: 30px;
}

.triforce-name {
    color: rgb(236, 242, 166);
    font-size: 30px;
}

.safesrc-name {
    color: rgb(175, 255, 105);
    font-size: 30px;
}

.pop {
    background-image: none;
}

.proj-description {
    background-color: rgba(79, 29, 3, 0.886);
    padding: 10px;
    border-radius: 20px;
    font-family: Alice;
    margin: 20px;
}

.disclaimer {
    background-color: rgba(79, 29, 3, 0.886);
    padding: 10px;
    border-radius: 20px;
    font-family: Alice;
    font-size: 13px;
    margin: 40px;
    color: rgb(106, 255, 0);
}


.github-logo, .website-logo {
    height: 10vmin;
    background-color: rgb(50, 24, 4);
    border: 2px solid rgb(69, 1, 67);
    box-shadow: 1px 1px 15px 1px black;
}

.github-logo {
    border-radius: 10px;
}

.website-logo {
    border-radius: 300px;
    padding: 1px;
}

.github-logo:hover, .website-logo:hover {
    background-color: rgb(130, 53, 20);
    border: 2px solid rgb(72, 0, 0);
    box-shadow: 1px 1px 15px 10px rgb(97, 42, 0);
}