.nav-bar {
  display: flex;
  bottom: 0;
  flex-direction: row;
  background-color: rgba(91, 4, 6, 0.466);
  color: gold;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: min-content;
}

.abt,
.cont,
.hme,
.prj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(184, 142, 3, 0.495);
  border-radius: 20px;
  padding: 8px;
  font-size: 2.7vmin;
  border: 3px double rgb(50, 0, 0);
}

.abt:hover,
.cont:hover,
.home:hover,
.prj:hover {
  box-shadow: 5px 5px 15px rgb(65, 10, 10);
}

.nav-link:hover {
  color: rgb(215, 199, 213);
  font-weight: bolder;
}
