header {
    display: flex;
    flex-direction: row;
    color: gold;
    background-color: rgba(94, 35, 3, 0.721);
    position: absolute;
    width: 100%;
    box-shadow: 15px 5px 35px 5px black;
    justify-content: center;
    text-align: center;
}