header {
    color: rgb(201, 194, 184);
    background-color: rgb(28, 0, 1);
    position: absolute;
    width: 100%;
    box-shadow: 15px 5px 35px 5px black;
    justify-content: center;
    text-align: center;
}