.toggle::before {
  content: '';
  display: block;
  height: 41px;
  width: 41px;
  border-radius: 30px;
  background: var(--white);
  position: absolute;
  z-index: 2;
  transform: translate(0);
  transition: transform var(--transition);
}

.toggle.enabled::before {
  transform: translateX(65px);
}

.toggle input {
  position: absolute;
  top: 0;
  opacity: 0;
}
